[Unit]
Description=noteprinter-worker
After=network.target
Requires=redis-server@rpgnotes.service

[Service]
User=noteprinter
Group=noteprinter
RuntimeDirectory=noteprinter
StateDirectory=noteprinter
CacheDirectory=noteprinter
Environment="PYTHONPYCACHEPREFIX=/var/cache/noteprinter/pycache/"
Environment="HOME=/var/cache/noteprinter/tmp-home/"
WorkingDirectory=/srv/server/noteprinter/backend
ExecStart=/srv/venv/noteprinter/bin/python manage.py runworker render-note
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
Restart=always



NoNewPrivileges=true
RestrictNamespaces=uts ipc pid user cgroup
ProtectSystem=strict
PrivateDevices=true
ProtectHome=true
PrivateUsers=true
RestrictNamespaces=true
CapabilityBoundingSet=~CAP_SYS_ADMIN
ProtectClock=true
ProtectControlGroups=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectProc=invisible
ProtectSystem=full
RestrictSUIDSGID=true
RestrictRealtime=true
RemoveIPC=true


[Install]
WantedBy=multi-user.target

